<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - e_course_web</title>
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors/color-1.css" asp-append-version="true" />
</head>
<body>
    <div class="main-wrapper">
        <!-- header start -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="header-main d-flex justify-content-between align-items-center">
                            <div class="header-logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><span>E </span>Course</a>
                            </div>
                            <button type="button" class="header-hamburger-btn js-header-menu-toggler"></button>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <nav class="header-menu js-header-menu">
                            <button type="button" class="header-close-btn js-header-menu-toggler">
                                <i class="fas fa-times"></i>
                            </button>
                            <ul class="menu">
                                <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Index">home</a></li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" class="js-toggle-sub-menu">
                                        courses<i class="fas fa-chevron-down"></i>
                                    </a>
                                    <ul class="sub-menu js-sub-menu">
                                        <li class="sub-menu-item"><a asp-area="" asp-controller="Course" asp-action="Index">course</a></li>
                                        <li class="sub-menu-item"><a asp-area="" asp-controller="Course" asp-action="CourseDetail">course details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu js-sub-menu">
                                        <li class="sub-menu-item"><a asp-area="" asp-controller="Home" asp-action="Login">login</a></li>
                                        <li class="sub-menu-item"><a asp-area="" asp-controller="Home" asp-action="SignUp">signup</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a asp-area="" asp-controller="Home" asp-action="Contact">contact</a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- footer start -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3 class="footer-logo"><span>E </span>Course</h3>
                                <ul>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">what we offer</a></li>
                                    <li><a href="#">careers</a></li>
                                    <li><a href="#">certificates</a></li>
                                    <li><a href="#">blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>learning</h3>
                                <ul>
                                    <li><a href="#">get the app</a></li>
                                    <li><a href="#">testimonials</a></li>
                                    <li><a href="#">pricing</a></li>
                                    <li><a href="#">faq</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>more</h3>
                                <ul>
                                    <li><a href="#">affitiliates</a></li>
                                    <li><a href="#">become a course creater</a></li>
                                    <li><a href="#">traning webinars</a></li>
                                    <li><a href="#">free personality test</a></li>
                                    <li><a href="#">help and support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-item">
                                <h3>get in touh</h3>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook social-icon"></i> facebook</a></li>
                                    <li><a href="#"><i class="fab fa-twitter social-icon"></i> twitter</a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-icon"></i> instagram</a></li>
                                    <li><a href="#"><i class="fab fa-youtube social-icon"></i> youtube</a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-icon"></i> linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p></p>
                </div>
            </div>
        </footer>
        <!-- footer end -->

    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
