@page
@using e_course_web.Service.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<section class="course-details">
    <div class="container">
        <div class="row">
            <div class="box">
                <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div class="row pb-5 border-lign">
                        <h2 class="text-center">Personal Information</h2>
                        <div class="col-lg-5 text-center mt-3">
                            <img src=@(Model.PhotoUrl != null ? Model.PhotoUrl : Const.DEFAULT_AVATAR) class="rounded-circle" style="width: 150px;" alt="user_avatar">
                            <input type="file" asp-for="Input.ImageFile" class="form-control" style="margin-top: 73px" />
                        </div>
                        <div class="col-lg-7 mt-3">
                            <div class="login-form">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                                    <label asp-for="Username" class="form-label"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.FullName" class="form-control" placeholder="Please choose your fullname." />
                                    <label asp-for="Input.FullName" class="form-label"></label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="pt-5">
                    <h3>Other Information</h3>
                    <nav class="course-tabs justify-content-center">
                        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                            <button class="nav-link">Information about you</button>
                            <button class="nav-link">Change passwword</button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

