<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/admin/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/owl.carousel.css">
    <link rel="stylesheet" href="~/css/admin/owl.theme.css">
    <link rel="stylesheet" href="~/css/admin/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/css/admin/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/css/admin/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/style1.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/responsive.css">
    
    <!-- modernizr JS
        ============================================ -->
    <link rel="stylesheet" href="~/css/admin/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/css/admin/data-table/bootstrap-editable.css">
    <script src="~/js/admin/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
        <!-- header start -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class>
            <div class="sidebar-header">
                <a href="index.html">
                    <img class="main-logo" src="img/logo/logo.png"
                         alt />
                </a>
                <strong>
                    <a href="index.html">
                        <img src="img/logo/logosn.png"
                             alt />
                    </a>
                </strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="index.html">
                                <span class="educate-icon educate-home icon-wrap"></span>
                                <span class="mini-click-non">Education</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li>
                                    <a title="Dashboard v.1" href="index.html">
                                        <span class="mini-sub-pro">Dashboard v.1</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Dashboard v.2" href="index-1.html">
                                        <span class="mini-sub-pro">Dashboard v.2</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Dashboard v.3" href="index-2.html">
                                        <span class="mini-sub-pro">Dashboard v.3</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Analytics" href="analytics.html">
                                        <span class="mini-sub-pro">Analytics</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Widgets" href="widgets.html">
                                        <span class="mini-sub-pro">Widgets</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a title="Landing Page" href="events.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-event icon-wrap sub-icon-mg"
                                      aria-hidden="true"></span> <span class="mini-click-non">Event</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-professors.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-professor icon-wrap"></span>
                                <span class="mini-click-non">Professors</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="All Professors" href="all-professors.html">
                                        <span class="mini-sub-pro">All Professors</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Add Professor" href="add-professor.html">
                                        <span class="mini-sub-pro">Add Professor</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-students.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Account</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="All Account" asp-area="Admin" asp-controller="User" asp-action="Index">
                                        <span title="All Account" >All Accounts</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Add Accounts" asp-area="Admin" asp-controller="User" asp-action="Add">
                                        <span class="mini-sub-pro">Add Accounts</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="all-courses.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Courses</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="All Courses" asp-area="Admin" asp-controller="Course" asp-action="Index">
                                        <span class="mini-sub-pro">All Courses</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Add Courses" asp-area="Admin" asp-controller="Course" asp-action="Create">
                                        <span class="mini-sub-pro">Add Course</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="all-courses.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Exams</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="All Courses" asp-area="Admin" asp-controller="Exam" asp-action="Index">
                                        <span class="mini-sub-pro">All Exam</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Add Courses" asp-area="Admin" asp-controller="Exam" asp-action="Create">
                                        <span class="mini-sub-pro">Add Exam</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html"
                               aria-expanded="false">
                                <span class="educate-icon educate-message icon-wrap"></span> <span class="mini-click-non">Mailbox</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a title="Inbox" href="mailbox.html">
                                        <span class="mini-sub-pro">Inbox</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="View Mail" href="mailbox-view.html">
                                        <span class="mini-sub-pro">View Mail</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Compose Mail" href="mailbox-compose.html">
                                        <span class="mini-sub-pro">Compose Mail</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html">
                            <img class="main-logo"
                                 src="img/logo/logo.png" alt />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li>
                                            <a data-toggle="collapse" data-target="#Charts"
                                               href="#">
                                                Home <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="index.html">Dashboard v.1</a></li>
                                                <li><a href="index-1.html">Dashboard v.2</a></li>
                                                <li><a href="index-3.html">Dashboard v.3</a></li>
                                                <li><a href="analytics.html">Analytics</a></li>
                                                <li><a href="widgets.html">Widgets</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="events.html">Event</a></li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#demoevent"
                                               href="#">
                                                Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="all-professors.html">All Professors</a>
                                                </li>
                                                <li>
                                                    <a href="add-professor.html">Add Professor</a>
                                                </li>
                                                <li>
                                                    <a href="edit-professor.html">Edit Professor</a>
                                                </li>
                                                <li>
                                                    <a href="professor-profile.html">
                                                        Professor
                                                        Profile
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#democrou"
                                               href="#">
                                                Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="all-courses.html">All Courses</a>
                                                </li>
                                                <li>
                                                    <a href="add-course.html">Add Course</a>
                                                </li>
                                                <li>
                                                    <a href="edit-course.html">Edit Course</a>
                                                </li>
                                                <li>
                                                    <a href="course-profile.html">Courses Info</a>
                                                </li>
                                                <li>
                                                    <a href="course-payment.html">Courses Payment</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#demolibra"
                                               href="#">
                                                Library <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="library-assets.html">Library Assets</a>
                                                </li>
                                                <li>
                                                    <a href="add-library-assets.html">
                                                        Add Library
                                                        Asset
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="edit-library-assets.html">
                                                        Edit Library
                                                        Asset
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#demodepart"
                                               href="#">
                                                Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="demodepart"
                                                class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="departments.html">Departments List</a>
                                                </li>
                                                <li>
                                                    <a href="add-department.html">Add Departments</a>
                                                </li>
                                                <li>
                                                    <a href="edit-department.html">
                                                        Edit
                                                        Departments
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#demomi"
                                               href="#">
                                                Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="demomi" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="mailbox.html">Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="mailbox-view.html">View Mail</a>
                                                </li>
                                                <li>
                                                    <a href="mailbox-compose.html">Compose Mail</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse"
                                               data-target="#Miscellaneousmob" href="#">
                                                Interface
                                                <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="Miscellaneousmob"
                                                class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="google-map.html">Google Map</a>
                                                </li>
                                                <li>
                                                    <a href="data-maps.html">Data Maps</a>
                                                </li>
                                                <li>
                                                    <a href="pdf-viewer.html">Pdf Viewer</a>
                                                </li>
                                                <li>
                                                    <a href="x-editable.html">X-Editable</a>
                                                </li>
                                                <li>
                                                    <a href="code-editor.html">Code Editor</a>
                                                </li>
                                                <li>
                                                    <a href="tree-view.html">Tree View</a>
                                                </li>
                                                <li>
                                                    <a href="preloader.html">Preloader</a>
                                                </li>
                                                <li>
                                                    <a href="images-cropper.html">Images Cropper</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Chartsmob"
                                               href="#">
                                                Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="Chartsmob" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="bar-charts.html">Bar Charts</a>
                                                </li>
                                                <li>
                                                    <a href="line-charts.html">Line Charts</a>
                                                </li>
                                                <li>
                                                    <a href="area-charts.html">Area Charts</a>
                                                </li>
                                                <li>
                                                    <a href="rounded-chart.html">Rounded Charts</a>
                                                </li>
                                                <li>
                                                    <a href="c3.html">C3 Charts</a>
                                                </li>
                                                <li>
                                                    <a href="sparkline.html">Sparkline Charts</a>
                                                </li>
                                                <li>
                                                    <a href="peity.html">Peity Charts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Tablesmob"
                                               href="#">
                                                Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="Tablesmob" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="static-table.html">Static Table</a>
                                                </li>
                                                <li>
                                                    <a href="data-table.html">Data Table</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#formsmob"
                                               href="#">
                                                Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="formsmob" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="basic-form-element.html">
                                                        Basic Form
                                                        Elements
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="advance-form-element.html">
                                                        Advanced Form
                                                        Elements
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="password-meter.html">Password Meter</a>
                                                </li>
                                                <li>
                                                    <a href="multi-upload.html">Multi Upload</a>
                                                </li>
                                                <li>
                                                    <a href="tinymc.html">Text Editor</a>
                                                </li>
                                                <li>
                                                    <a href="dual-list-box.html">Dual List Box</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Appviewsmob"
                                               href="#">
                                                App views <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="Appviewsmob"
                                                class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="basic-form-element.html">
                                                        Basic Form
                                                        Elements
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="advance-form-element.html">
                                                        Advanced Form
                                                        Elements
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="password-meter.html">Password Meter</a>
                                                </li>
                                                <li>
                                                    <a href="multi-upload.html">Multi Upload</a>
                                                </li>
                                                <li>
                                                    <a href="tinymc.html">Text Editor</a>
                                                </li>
                                                <li>
                                                    <a href="dual-list-box.html">Dual List Box</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Pagemob"
                                               href="#">
                                                Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span>
                                            </a>
                                            <ul id="Pagemob" class="collapse dropdown-header-top">
                                                <li>
                                                    <a href="login.html">Login</a>
                                                </li>
                                                <li>
                                                    <a href="register.html">Register</a>
                                                </li>
                                                <li>
                                                    <a href="lock.html">Lock</a>
                                                </li>
                                                <li>
                                                    <a href="password-recovery.html">
                                                        Password
                                                        Recovery
                                                    </a>
                                                </li>
                                                <li><a href="404.html">404 Page</a></li>
                                                <li><a href="500.html">500 Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                            <form role="search" class="sr-input-func">
                                                <input type="text" placeholder="Search..."
                                                       class="search-int form-control">
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li>
                                                <a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li>
                                                <span class="bread-blod">Add Courses</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <!-- jquery vendor/jquery-1.12.4.min.js
        ============================================ -->
    <script src="~/js/admin/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/js/admin/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/js/admin/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/js/admin/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/js/admin/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/js/admin/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/js/admin/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/js/admin/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/js/admin/counterup/jquery.counterup.min.js"></script>
    <script src="~/js/admin/counterup/waypoints.min.js"></script>
    <script src="~/js/admin/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/js/admin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/admin/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/js/admin/metisMenu/metisMenu.min.js"></script>
    <script src="~/js/admin/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/js/admin/morrisjs/raphael-min.js"></script>
    <script src="~/js/admin/morrisjs/morris.js"></script>
    <script src="~/js/admin/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="~/js/admin/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/admin/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/js/admin/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/js/admin/calendar/moment.min.js"></script>
    <script src="~/js/admin/calendar/fullcalendar.min.js"></script>
    <script src="~/js/admin/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/js/admin/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/js/admin/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="~/js/admin/tawk-chat.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
