@using Microsoft.AspNetCore.Identity
@using e_course_web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="menu-item menu-item-has-children">
        <a href="#" class="js-toggle-sub-menu">account <i class="fas fa-chevron-down"></i></a>
        <ul class="sub-menu js-sub-menu">
            <li class="sub-menu-item"><a asp-area="Identity" asp-page="/Account/Manage/Index">Setting</a></li>
            <li class="sub-menu-item">
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="menu-item menu-item-has-children">
        <a href="#" class="js-toggle-sub-menu">pages <i class="fas fa-chevron-down"></i></a>
        <ul class="sub-menu js-sub-menu">
            <li class="sub-menu-item"><a asp-area="Identity" asp-page="/Account/Login">login</a></li>
            <li class="sub-menu-item"><a asp-area="Identity" asp-page="/Account/Register">signup</a></li>
        </ul>
    </li>
}
