@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <section class="signup section-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-lg-6 col-xl-5">
                            <div class="signup-form box">
                                <h1>@ViewData["Title"]</h1>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="btn btn-theme">Click here to Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
