@page
@model RegisterModel
@using e_course_web.Service.Helpers;
@{
    ViewData["Title"] = "Register";
}

<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->
<!-- signup section start -->
<section class="signup section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div class="signup-form box">
                    <h2 class="form-title text-center">Create Your Account</h2>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" type="text" placeholder="example@gmail.com">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" type="text" placeholder="Username">
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" type="text" placeholder="Your phone number">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="form-group">
                                <label asp-for="Input.Role"></label>
                                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList,
                                         "-Chọn quyền cho tài khoản-", new { @class = "form-control" })
                            </div>
                        }
                        <button id="registerSubmit" type="submit" class="btn btn-theme btn-block btn-form">Sign Up</button>
                        <p class="text-center mt-4 mb-0">
                            Already have an account ? <a asp-page="./Login">Log In
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- signup section end -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
