@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container status mt-5 pd-2">
    <div class="row">
        <div class="col-md-2 btn-wrap">
            <button type="button" class="btn btn-danger ">Thoát</button>
        </div>
        <div class="col-md-7 text-center pt-2">
            <p>User: Ngô Văn Tiến Đạt</p>
        </div>
        <div class="col-md-3 btn-wrap">
            <div class="row">
                <div class="col-md-6 pt-2">
                    <p>00:41:43</p>
                </div>
                <div class="col-md-6">
                    <button id="finish" type="button" class="btn btn-theme">Nộp bài</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  course details section start -->
<section class="course-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- quiz start -->
                <div class="course-header box">
                    <h5 class="text-capitalize">1. Phương pháp lập trình module</h5>
                    <div class="text-center">
                        <img class="m-4" src="img/courses/item.jpg" alt="" width="450">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>C. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-md-6">
                            <p>B. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>D. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <form class="exam_page" id="1">
                        <div class="container">
                            <div class="row pt-4">
                                <p class="col-auto">Đáp án của bạn:</p>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio1" name="answer"
                                               value="1" checked>A
                                        <label class="form-check-label" for="radio1"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio2" name="answer"
                                               value="2">B
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio3" name="answer"
                                               value="3">C
                                        <label class="form-check-label" for="radio3"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio4" name="answer"
                                               value="4">D
                                        <label class="form-check-label" for="radio4"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- quiz end -->
                <!-- quiz start -->
                <div class="course-header box">
                    <h5 class="text-capitalize">1. Phương pháp lập trình module</h5>
                    <div class="text-center">
                        <img class="m-4" src="img/courses/item.jpg" alt="" width="450">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>A. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>C. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-md-6">
                            <p>B. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p>D. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>

                    <form class="exam_page" id="2">
                        <div class="container">
                            <div class="row pt-4">
                                <p class="col-auto">Đáp án của bạn:</p>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio1" name="answer"
                                               value="1" checked>A
                                        <label class="form-check-label" for="radio1"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio2" name="answer"
                                               value="2">B
                                        <label class="form-check-label" for="radio2"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio3" name="answer"
                                               value="3">C
                                        <label class="form-check-label" for="radio3"></label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio4" name="answer"
                                               value="4">D
                                        <label class="form-check-label" for="radio4"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- quiz end -->
            </div>
            <div class="col-lg-4">
                <!-- course sidebar start -->
                <div class="course-sidebar box">
                    <ul class="row">
                        <li class="col-md-2 col-lg-2 exam-choice" id="choice_1">1</li>
                        <li class="col-md-2 col-lg-2 exam-choice" id="choice_2">2</li>
                        <li class="col-md-2 col-lg-2 exam-choice" id="choice_3">3</li>
                        <li class="col-md-2 col-lg-2 exam-choice" id="choice_4">4</li>
                        <li class="col-md-2 col-lg-2 exam-choice" id="choice_5">5</li>
                    </ul>
                </div>
                <!-- course sidebar end -->
            </div>
        </div>
    </div>
</section>