@model IEnumerable<e_course_web.Models.Course>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner section start -->
<section class="banner-section d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="banner-text">
                    <h2 class="mb-3">An investment in knowledge pays the best interest</h2>
                    <h1 class="mb-3 text-capitalize">best online platform for learning</h1>
                    <p class="mb-4">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
                        quaerat autem impedit, voluptate ut hic repellendus consequuntur fugit? Autem accusamus
                        quasi veniam quo distinctio qui omnis deserunt, amet pariatur repudiandae.
                    </p>
                    <a href="#" class="btn btn-theme">join free</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-img">
                    <div class="circular-img">
                        <div class="circular-img-inner">
                            <div class="circular-img-circle"></div>
                            <img src="img/banner-img.png" alt="banner img" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner section end-->
<!-- fun facts section start -->
<section class="fun-facts-section">
    <div class="container">
        <div class="box py-2">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <h2 class="style-1">800k</h2>
                        <p>students we've</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <h2 class="style-2">500+</h2>
                        <p>courses</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <h2 class="style-3">50+</h2>
                        <p>countries</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="fun-facts-item">
                        <h2 class="style-4">100+</h2>
                        <p>skilled instructors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- fun facts section end -->
<!-- course section start -->
<section class="course-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">courses</h2>
                    <p class="sub-title">Find the right course for you</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- courses item start -->
            @foreach (var course in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="courses-item">
                        <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id" class="link">
                            <div class="courses-item-inner">
                                <div class="img-box">
                                    <img src=@course.CourseImage alt="course img">
                                </div>
                                <h3 class="title">@course.Title</h3>
                                <div class="instructor">
                                    <img src="img/instructor/1.png" alt="instructor img">
                                    <span class="instructor-name">@course.TeacherId</span>
                                </div>
                                <div class="rating">
                                    <span class="average-rating">(4.5)</span>
                                    <span class="average-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </span>
                                    <span class="reviews">(230)</span>
                                </div>
                                <div class="price">$ 49</div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            <!-- courses item end -->
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <a href="courses.html" class="btn btn-theme">view all courses</a>
            </div>
        </div>
    </div>
</section>
<!-- course section end -->
<!-- testimonials section start -->
<section class="testimonials-section section-padding position-relative">
    <div class="decoration-circles">
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
        <div class="decoration-circles-item"></div>
    </div>
    <div class="decoration-imgs">
        <img src="img/testimonial/1.png" alt="decoration-img" class="decoration-imgs-item">
        <img src="img/testimonial/2.png" alt="decoration-img" class="decoration-imgs-item">
        <img src="img/testimonial/1.png" alt="decoration-img" class="decoration-imgs-item">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title text-center">
                    <h2 class="title">students feedback</h2>
                    <p class="sub-title">What our students say</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="img-box rounded-circle position-relative">
                    <img src="img/testimonial/1.png" class="w-100 js-testimonial-img rounded-circle"
                         alt="testimonial img">
                </div>
                <div id="carouselOne" class="carousel slide text-center" data-bs-ride="carousel">
                    <div class="carousel-inner mb-4">
                        <div class="carousel-item active" data-js-testimonial-img="img/testimonial/1.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Necessitatibus et fugit vero adipisci dolore. Explicabo beatae quod ut
                                    perspiciatis iusto.
                                </p>
                                <h3>john doe</h3>
                                <p class="text-2">web developer</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-js-testimonial-img="img/testimonial/2.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Necessitatibus et fugit vero adipisci dolore. Explicabo beatae quod ut
                                    perspiciatis iusto.
                                </p>
                                <h3>john doe</h3>
                                <p class="text-2">web developer</p>
                            </div>

                        </div>
                        <div class="carousel-item" data-js-testimonial-img="img/testimonial/1.png">
                            <div class="testimonials-item">
                                <p class="text-1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Necessitatibus et fugit vero adipisci dolore. Explicabo beatae quod ut
                                    perspiciatis iusto.
                                </p>
                                <h3>john doe</h3>
                                <p class="text-2">web developer</p>
                            </div>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselOne"
                            data-bs-slide="prev">
                        <i class="fas fa-arrow-left"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselOne"
                            data-bs-slide="next">
                        <i class="fas fa-arrow-right"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials section end -->
<!-- becom a instructor section start -->
<div class="bai-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="box">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="circular-img">
                                <div class="circular-img-inner"></div>
                                <div class="circular-img-circle"></div>
                                <img src="img/bai-img.png" alt="bai img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-title m-0">
                                <h2 class="title">become a instructor</h2>
                                <p class="sub-title">Become a Instructor</p>
                            </div>
                            <a href="#" class="btn btn-theme">apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
