@model e_course_web.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Log In</li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->
<!-- login section start -->
<!-- login.cshtml -->
<section asp-action="Login" method="post" class="login-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div class="login-form box">
                    <h2 class="form-title text-center">Log In To Your Account</h2>
                    <form asp-action="Login" method="post">
                        <!-- Update the form action -->
                        <div class="form-group">
                            <input asp-for="email" type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input asp-for="password" type="password" class="form-control" placeholder="Password">
                            <div class="d-flex mb-2 justify-content-end">
                                <a asp-area="" asp-controller="Home" asp-action="ForgotPassword">Forgot Password</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-theme btn-block btn-form">Log In</button>
                        <p class="text-center mt-4 mb-0">
                            Don't have an account ? <a asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
-->
*@